/* Empty */

body{
	--inline-code-color:var(--color-red);
	--accent-h: 254;
	--accent-s: 80%;
	--accent-l: 68%;
    /* --background-color:rgba(255,165,0,1); */
}

.theme-light,
.is-mobile.theme-light,
.is-tablet.theme-light{
	--color-red:hsla(365, 85%, 55%, 1);
    --color-accent-2: hsl(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 5%));
}

.theme-dark,
.is-mobile.theme-dark,
.is-tablet.theme-dark{
	--color-red:hsla(365, 90%, 65%, 1);
    --color-accent-2: hsl(calc(var(--accent-h) - 0), calc(var(--accent-s) + 7%), calc(var(--accent-l) + 2%));
}

/* Inline code */
.markdown-rendered :not(pre)>code,
.cm-s-obsidian span.cm-inline-code{
    color:var(--inline-code-color);
	padding: 0 5px;
}
/* inline code background */
.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code{
	background:var(--code-background);
}

/* Background Wave design */
body:before{
	content:"";
	position:absolute;
    width:100%;
    height:100%;
	
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" xml:space="preserve"><path opacity=".1" d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"/><path opacity=".2" d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"/><path opacity=".4" d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"/></svg>');
	-webkit-mask-size:300% 300px;
	-webkit-mask-position:88.5% -73px;
	-webkit-mask-repeat:no-repeat;
    background-color:var(--color-accent-2);
	transform:rotateZ(180deg);
	opacity:0.5;
}

/* remove backgrounds for wave design background */
.workspace,
.workspace-tabs .workspace-leaf,
.workspace-ribbon,
.workspace-split.mod-root,
.workspace-tab-header-container,
.workspace-split.mod-root .view-content
{ /* remove background as parent will be the one to have it instead */
	background:none;
}


/* 캔버스 편집할때 뒤에 이미지가 보이는 오류가 있음  이부분에 스타일 적용하면 될것같은데*/
.cm-editor{
	background-color: var(--background-primary);
}


.cm-editor .cm-lineNumbers{
	/* color: var(--background-primary); */
}

/* -------------- */
/* 콜아웃 스타일 편집 */
/* -------------- */
/* 콜아웃 코드 색깔 변경 */
.callout code,
.callout pre:has(code){
	margin: 0;
	background-color: var(--background-primary);
	border:1px solid rgba(var(--callout-color), 0.3);
}
/* 콜아웃 리스트 지우려고 프리뷰 화면에서 보이는게 거슬려 */
.callout-content li:has(pre){
	/* list-style: none;	 */
}

/* 콜아웃 보더랑 패딩 없애기 */
.callout{
	padding: 0;
	border:1px solid rgba(var(--callout-color), 0.3);
    background-color: rgba(var(--callout-color), 0.07);
}
.callout-title{
	gap:var(--size-4-3);
    align-items:center;
    background-color:rgba(var(--callout-color), 0.07);
	border-bottom:1px solid transparent;
	transition:border 0.3s;
	padding:11px 20px;
}
.callout-content{
	padding:11px;
}
.callout-icon,
.callout-fold{
	margin:0;
	align-self:center;
}

/* only apply border if callout is not collapsed */
.callout:not(.is-collapsed)>.callout-title:has(+.callout-content){
	border-bottom:1px solid rgba(var(--callout-color), 0.3);
}

.markdown-source-view.mod-cm6 .callout .callout{
	margin:1em 0;
}

