/* Empty */

body{
	--inline-code-color:var(--color-red);
	--accent-h: 254;
	--accent-s: 80%;
	--accent-l: 68%;
	--blockquote-border-thickness:2px;
}

.theme-light,
.is-mobile.theme-light,
.is-tablet.theme-light{
	--color-red:hsla(365, 85%, 55%, 1);
	--code-function : #e2b900;
    /* --color-accent-2: hsl(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 5%)); */
	--custom-border-color:#00000014;
	--highlighter-pink : #FFB8EBA6;
	--highlighter-red : #FF5582A6;
	--highlighter-orange : #FFB86CA6;
	--highlighter-yellow : #FFF3A3A6;
	--highlighter-green : #BBFABBA6;
	--highlighter-cyan : #ABF7F7A6;
	--highlighter-blue : #ADCCFFA6;
	--highlighter-purple : #D2B3FFA6;
	--highlighter-grey : #CACFD9A6;
}

.theme-dark,
.is-mobile.theme-dark,
.is-tablet.theme-dark{
	--color-red:hsla(365, 90%, 65%, 1);
    /* --color-accent-2: hsl(calc(var(--accent-h) - 0), calc(var(--accent-s) + 7%), calc(var(--accent-l) + 2%)); */
	--custom-border-color:#ffffff14;
	/* --color-orange:#ff7c00; */
	--highlighter-pink : #dd70ae54;
	--highlighter-red : #a72c4da6;
	--highlighter-orange : #bb7f40a6;
	--highlighter-yellow : #ac9a29a6;
	--highlighter-green : #24ad24a6;
	--highlighter-cyan : #47c5c5a6;
	--highlighter-blue : #1f4fa1a6;
	--highlighter-purple : #6f46ada6;
	--highlighter-grey : #808080a6;
}

/* ----------------------------- */
/* remove backgrounds for wave design background */
.workspace,
.workspace-tabs .workspace-leaf,
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed,
.workspace-split.mod-root,
.workspace-tab-header-container,
.workspace-split.mod-root .view-content
{ /* remove background as parent will be the one to have it instead */
	background:none;
}

/* Background Wave design */
body:before{
	content:"";
	position:absolute;
    width:100%;
    height: 20%;
    bottom: 0;
	/* 웨이브 디자인 패턴  */
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none" xml:space="preserve"><path opacity=".1" d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"/><path opacity=".2" d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"/><path opacity=".4" d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"/></svg>');
	-webkit-mask-size:300% 300px;
	-webkit-mask-position:88.5% -73px;
	-webkit-mask-repeat:no-repeat;
    /* background-color:var(--color-accent-2); */
	background: linear-gradient(#0bedea, #e1ff6a);
	transform:rotateZ(180deg);
	opacity:0.6;

	/* 구름모양 svg */
	/* -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' opacity='.3' fill='none'%3e%3cpath d='M1464 560L0 560 L0 307.17Q75.51 262.69%2c 120 338.2Q167.91 314.11%2c 192 362.02Q200.6 298.62%2c 264 307.22Q305.98 277.2%2c 336 319.17Q383.71 246.88%2c 456 294.59Q535.53 254.12%2c 576 333.65Q627.04 264.69%2c 696 315.73Q761.96 309.69%2c 768 375.65Q811.11 298.76%2c 888 341.87Q910.96 292.83%2c 960 315.79Q1025.82 261.61%2c 1080 327.43Q1131.37 306.8%2c 1152 358.16Q1217.2 303.36%2c 1272 368.56Q1314.54 291.1%2c 1392 333.64Q1437.59 307.23%2c 1464 352.82z' opacity='.3' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 361.66Q93.74 335.4%2c 120 429.14Q147.26 384.4%2c 192 411.67Q230.19 329.87%2c 312 368.06Q353.84 337.9%2c 384 379.74Q473.63 349.37%2c 504 439Q523.84 338.84%2c 624 358.68Q692.95 307.63%2c 744 376.58Q811.93 324.51%2c 864 392.44Q916.35 372.79%2c 936 425.14Q980.96 398.1%2c 1008 443.06Q1029.94 393%2c 1080 414.95Q1132.88 347.83%2c 1200 400.71Q1249.57 378.27%2c 1272 427.84Q1323.52 359.36%2c 1392 410.88Q1406.92 353.81%2c 1464 368.73z'  opacity='1' fill='rgba(37%2c 70%2c 125%2c 0.7)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 502.01Q52.85 434.86%2c 120 487.71Q148.69 396.4%2c 240 425.09Q323.24 388.33%2c 360 471.57Q403.25 394.82%2c 480 438.08Q507.67 393.75%2c 552 421.42Q646.92 396.34%2c 672 491.26Q707.88 407.14%2c 792 443.02Q846.63 377.65%2c 912 432.29Q1013.99 414.28%2c 1032 516.27Q1060.78 473.05%2c 1104 501.83Q1101.52 427.35%2c 1176 424.86Q1235.39 412.25%2c 1248 471.65Q1318.91 422.56%2c 1368 493.48Q1407.62 413.1%2c 1488 452.71z' fill='rgba(53%2c 108%2c 177%2c 0.21)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 511.45Q87.05 478.5%2c 120 565.55Q162.16 535.71%2c 192 577.87Q215.69 481.56%2c 312 505.24Q380.77 454.01%2c 432 522.78Q497.99 468.77%2c 552 534.76Q623.36 486.12%2c 672 557.47Q686.83 500.3%2c 744 515.12Q809.4 460.52%2c 864 525.92Q883.01 472.93%2c 936 491.94Q977.08 461.02%2c 1008 502.1Q1070.2 492.3%2c 1080 554.5Q1123.08 525.58%2c 1152 568.65Q1182.76 479.41%2c 1272 510.17Q1313.04 479.21%2c 1344 520.25Q1391.2 495.45%2c 1416 542.65Q1471.88 526.53%2c 1488 582.41z' fill='rgba(255%2c 255%2c 255%2c 0.27)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	-webkit-mask-size:100% 300px;
	-webkit-mask-position:0 100%;
	-webkit-mask-repeat:no-repeat; */
    /* background-color:var(--code-property); */

	/* 바다 */
	/* background: url("https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.8; */
}

/* 캔버스 편집할때 뒤에 이미지가 보이는 오류가 있음  이부분에 스타일 적용하면 될것같은데*/
.cm-editor{
	background-color: var(--background-primary);
}


.mod-left-split .workspace-tab-header.has-active-menu .workspace-tab-header-inner-icon, .mod-right-split .workspace-tab-header.has-active-menu .workspace-tab-header-inner-icon, .mod-left-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon, .mod-right-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
    opacity: var(--icon-opacity-hover);
    color: var(--icon-color-hover);
}

/* remove distinguishing-borders on sidebars and headers */
.workspace-ribbon,
.workspace-tab-header-container{
	border-color:var(--custom-border-color);
}



/* ----------------------------- */
/* 코드 블록 색깔 변경 */
/* Inline code */
.markdown-rendered :not(pre)>code,
.cm-s-obsidian span.cm-inline-code{
    color:var(--inline-code-color);
	/* color: var(--code-property); */
	padding: 0 5px;
}
/* inline code background */
.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code{
	background:var(--code-background);
}

/* -------------- */
/* 콜아웃 스타일 편집 */
/* -------------- */
/* 콜아웃 코드 색깔 변경 */
.callout-content pre{
	margin: 0;
	background-color: var(--background-primary);
	border:1px solid rgba(var(--callout-color), 0.3);
}

/* 콜아웃 인라인 코드 */
.callout-content code{
	background-color:initial;
}


/* 콜아웃 보더랑 패딩 없애기 */
.callout{
	padding: 0;
	border:1px solid rgba(var(--callout-color), 0.3);
    background-color: rgba(var(--callout-color), 0.07);

}
.callout-title{
	gap:var(--size-4-3);
    align-items:center;
    background-color:rgba(var(--callout-color), 0.07);
	border-bottom:1px solid transparent;
	transition:border 0.3s;
	padding:11px 20px;
	font-size: 0.9rem;
}
.callout-content{
	padding: 3px 15px;
	font-size: 0.85rem;
}
.callout-icon,
.callout-fold{
	margin:0;
	align-self:center;
}

/* only apply border if callout is not collapsed */
.callout:not(.is-collapsed)>.callout-title:has(+.callout-content){
	border-bottom:1px solid rgba(var(--callout-color), 0.3);
}

.markdown-source-view.mod-cm6 .callout,
.callout{
	margin: 0.5rem 0;
}

/* 목차 텍스트 안짤리게 하기 */
body:not(.full-file-names) .tree-item-inner {
	/* white-space: break-spaces; */
}

/* 캔버스 편집시 번호와 컨텐츠 간격 조정 */
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.node-insert-event.mod-inside-iframe .cm-editor .cm-content{
	/* margin-left: 25px; */
}

/* 헤더 아래 마진 없애기 */
.h1-l .markdown-reading-view h1:not(.embedded-note-title), .h1-l .mod-cm6 .cm-editor .HyperMD-header-1,
.h2-l .markdown-reading-view h2, .h2-l .mod-cm6 .cm-editor .HyperMD-header-2,
.h3-l .markdown-reading-view h3, .h3-l .mod-cm6 .cm-editor .HyperMD-header-3{
	margin-bottom: 0;
}

/* 다른 문서를 해당 문서에 포함하게 되었을 경우 스타일 설정 */
.workspace-split.mod-vertical.mod-root .markdown-preview-view{
	padding: 0;
	padding-left: 10px;
}

/* 강조 구문 색 변경 */
b, strong, .cm-strong{
	color: var(--code-property);
	/* color: var(--color-base-100); */
	/* color: var(--code-keyword); */
	/* color: var(--text-accent); */
	/* color: var(--callout-title-color); */
}

/* 임베드시 타이틀영역 숨기기 */
.embed-title, .markdown-embed-title{
	/* font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 1px solid var(--border-color); */
	display: none;
}

/* ------------- */
/* 플러그인 커스텀 */
/* ------------- */
/* task 플러그인 글자 크기 조절 */
.tasks-group-heading p{
	font-size: 0.9rem;
	margin-bottom: 0;
}
.tasks-group-heading{
	margin: 0;
	margin-bottom: 0.5rem;
}
.tasks-group-heading + ul{
	margin-top: 0;
}

/* 머메이드 백그라운드 색 추가 */
.mermaid{
	background-color: var(--code-background);
}
.mermaid svg{
	width: 100%;
}


/* cheack 플러그인 커스텀 */
.workspace .view-content .checklist-plugin-main {
    padding: 0;
}
.checklist-plugin-main .container  input.search {
	font-size: .8rem;
	box-shadow: 0 0 2px var(--ui3);
}
.settings-container .svg.svelte-9fjno5 {
	width: 1rem;
}
/* 태그그룹 헤더부분 */
.group .group-header{
	margin: 0;
	border-bottom: 1px solid var(--ui2);
}
.group .group-header .title * {
	color: var(--tx1);
}
/* 태그 그룹 각 부분 스타일 적용 */
.group .classic button.toggle{
	padding: 0;
	padding-right: 10px;
}
.classic p{
	font-size: 0.8rem;
}
.checklist-plugin-main .group .checkbox{
	min-width: 1rem;
	min-height: 1rem;
	width : 1rem;
	height: 1rem;
}
.checkbox div.checked{
	min-width: 1rem;
	min-height: 1rem;
	width : 1rem;
	height: 1rem;
	top: 0;
	left: 0;
}



/* 사전 플러그인 사이드바 설정 */
.workspace-leaf-content .view-content.dictionary-view-content {
	padding: var(--size-4-3) var(--size-4-3) 0 !important;
}

/* 테이블 스타일 설정 */
.dataview.table-view-table{
	margin-top: 0;
}
.is-live-preview.is-readable-line-width .cm-embed-block table.dataview, .is-live-preview.is-readable-line-width.embed-strict .internal-embed .markdown-preview-sizer, .is-readable-line-width .block-language-dataview table.dataview, .is-readable-line-width .block-language-dataviewjs table.dataview, .markdown-preview-view.is-readable-line-width .dataview.result-group .contains-task-list, .markdown-source-view.is-live-preview.is-readable-line-width table.NLT__table{
	width: calc(var(--line-width-adaptive) - var(--folding-offset));
}
.table-view-tbody tr{
	width: 10rem;
}
.markdown-rendered tbody > tr > td:first-child {
	white-space: nowrap;
}
.markdown-rendered.show-indentation-guide.el-table table {
	margin-left: 0 !important;
	margin-right: 0;
	max-width: 100%;
}
.markdown-rendered table span img {	
	width: 40% !important;
}


/* 하이라이터 스타일 */
.search-result-file-matched-text,
.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight,
.markdown-rendered mark{
	/* background-color: var(--highlighter-pink); */
	background-color: var(--text-selection);
}
mark{color: var(--tx1);}
mark.hltr-pink{background-color: var(--highlighter-pink) !important;}
mark.hltr-red{background-color: var(--highlighter-red) !important;}
mark.hltr-orange{background-color: var(--highlighter-orange) !important;}
mark.hltr-yellow{background-color: var(--highlighter-yellow) !important;}
mark.hltr-green{background-color: var(--highlighter-green) !important;}
mark.hltr-cyan{background-color: var(--highlighter-cyan) !important;}
mark.hltr-blue{background-color: var(--highlighter-blue) !important;}
mark.hltr-purple{background-color: var(--highlighter-purple) !important;}
mark.hltr-grey{background-color: var(--highlighter-grey) !important;}


/* anki ID 태그 숨기기 */
.cm-s-obsidian span.cm-comment:not(.cm-hmd-codeblock) {
	/* display: none; */
}
